/* ############## Default setings ################# */
nav, Header, footer {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
}
.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
.row {
display: flex;
margin: auto;
flex-wrap: wrap;
align-items: center;
line-height: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
* {
    box-sizing: border-box;
}

/* ################## Nave bar ################# */
nav {
    width: 100%;
    margin: 0;
    }
nav ul.menu div {
    margin-left: 500px;
}
nav ul {
     overflow: hidden;
    margin: 0;
padding: 0;
}
.topbackground {
    background-image: linear-gradient(#FF1493, #AFEEEE);
  }
nav ul.top li.image img {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
nav ul.top li {
    list-style: none;
    float: left;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 1px #87d3f8,
    1px 2px 1px #87d3f8,
    1px 3px 1px #87d3f8,
    1px 4px 1px #87d3f8,
    1px 5px 1px #87d3f8,
    1px 6px 1px #87d3f8,
    1px 7px 1px #87d3f8,
    1px 10px 6px rgba(16,16,16,0.4),
    1px 12px 14px rgba(16,16,16,0.2),
    1px 15px 17px rgba(16,16,16,0.2),
    1px 17px 19px rgba(16,16,16,0.4);
    font-weight: 800;
}
nav ul.menu li{
    list-style: none;
    float: left;
    padding: 5px;
   
}
    nav ul.menu li a {
        display: block;
        text-transform: uppercase;
        color:black;
        text-decoration: none;
        font-weight: 900;
        padding: 20px;
        min-height: 16px;
        text-align: center;
        border-radius: 50px;
    }
    nav ul.menu li a:hover {
        background-color: blue;
        color: #fff;
    }
    ul.menu li.ddm {
display: none;
    }
    /* ############# Footer Settings ################### */
    footer {
        background-image: linear-gradient(#FF1493, #AFEEEE);
        margin: 5px;
        padding: 50px;
        text-align: center;
        text-transform: uppercase;
        line-height: 3px;
        
    
    }

    .map {
        width: "400px"; 
        height: "300px";
       text-align: left;
    }
    .mapaddress {
        text-align: left;
    }
    .contacthead {
        display: block;
        font-size: 25px;
        font-weight: 900;
        text-align: left;
        color: #fff;
        margin-bottom: 20px;
        
    }
    form label {
        font-weight: 900;
        margin-top: 20px;
    }
    .form input {
        width: 400px;
        height: 35px;
        border-radius: 5px;
    }
    textarea {
        width: 400px;
        height: 200px;
        border-radius: 20px;
    }
    .rights {
        display: block;
        text-align: left;
        text-transform: none;
        margin-top: 20px;
        color: red;
        font-weight: 900;
    }
  
   
 
/* ################# Edit Part############## */

    /* ############### Body Design ############# */
    
    .collegepic {
        height: 200px;
        width: 100%;   
    }
    
    .messagehead {
        text-transform: uppercase;
        color: blue;
        text-shadow: 2px 2px 2px #ff0000;
        text-align: center;
        }
div.box {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15),
    0 2px 3px 0 rgba(0, 0, 0, .1);
    padding: 20px;
    margin: 20px;
    max-height: 500px;
    overflow-wrap: normal;

}
p {
    text-align: justify;
}

button:hover {
    background-color: blue;
    color: #fff;
}
button {
    background-color: red;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}


    /* ################# Mobile ################ */
    @media screen and (max-width: 680px) {
        ul.menu li:not(:nth-child(1))
        {
            display: none;
        }
        ul.menu li.ddm {
            display: block;
            float: right;
        }
        ul.menu.responsive li.ddm {
            position: absolute;
            top: 0;
            right: 0;

        }
        
        ul.menu.responsive {
            position: relative;
        }
        ul.menu.responsive li {
            display: inline;
            float: none;
        }       
        ul.menu.responsive li a {
            display: block;
            text-align: left;

        }
        .box {
            text-overflow: ellipsis;
        }
  .col-6 {
      display: block;
      width: 100%;
      margin: 0;
  }
  .form input{
      width: 100%;
      margin: 0;

  }
  .form textarea{
    width: 100%;
    margin: 0;

}
hi.messagehead {
    font-size: auto;
    display: block;
    width: 100%;
    margin: 0;
}
}
